* {
  margin: 0;
  padding: 0;
  font-family: Changa One;
}

/* Nav styles */
.nav {
  /* width: 100%; */
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  /* background-color: yellow; */
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  margin-right: 20px;
}
.nav-links li a {
  list-style: none;
  text-decoration: none;
  color: #333;
}
.logo-img {
  width: 40%;
  height: 50%;
  /* background-color: red; */
}
.booking-page {
  margin: 20px auto;
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  align-items: center;
  width: 50%;
  border-radius: 15px;
  background-color: #fff;
}
.form {
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  /* background-color: yellow; */
  padding: 10px;
  margin: auto;
}
/* Header styles */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #495e57;
  color: white;
  padding: 40px;
  /* width: 100%; */
}
.header-content {
  padding: 40px;
  /* background-color: #333; */
}
.header-content h1 {
  color: #f4ce14;
  /* padding: 10px; */
  font-size: 42px;
}
.header-content h2 {
  color: whitesmoke;
  /* padding: 10px; */
  line-height: 2;

  font-size: xx-large;
}

.header-content p {
  max-width: 500px;
  /* padding: 10px; */
  font-size: 18px;
}
.header-img img {
  /* width: 30%;
  height: 40%; */
  border-radius: 10px;
}
.main-image {
  /* grid-area: 1 / 1; */
  z-index: 2;
  /* position: relative; */
}
.overlay-image {
  /* position: absolute; */
  /* margin-top: -40px; */
  margin-bottom: 25px;
  margin-left: -50px;
  z-index: -2;
  /* grid-area: 1 / 1; */
}
.reserve-button {
  margin-top: 20px;
  background-color: #f4ce14;
  color: black;
  border-radius: 15px;
  /* padding: 0.5rem 1rem; */
  cursor: pointer;
  padding: 10px;
  font-size: large;
  font-weight: 600;
  line-height: 5;
  text-decoration: none;
}

/* Main styles */
.main-content {
  padding: 2rem;
  /* width: 100%; */
}

.specials-section {
  text-align: center;
}

.specials-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 10px;
}

.special-item {
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: left;
  width: 80%;
}
.special-item h3 {
  /* margin-right: 10em; */
  /* justify-content: space-between; */
  gap: 20px;
}
.special-item img {
  width: 80%;
}
/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  /* width: 100%; */
}

/* Responsive styles for mobile */
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .header {
    align-items: center;
    background-color: #495e57;
    color: white;
    padding: 40px;
  }

  .header-content h1 {
    color: #f4ce14;
    /* padding: 10px; */
    font-size: 22px;
  }
  .header-content h2 {
    color: whitesmoke;
    /* padding: 10px; */
    line-height: 2;

    font-size: large;
  }

  .header-content p {
    max-width: 200px;
    /* padding: 10px; */
    font-size: 8px;
  }

  .reserve-button {
    font-weight: 200;
    font-size: small;
  }
  .main-image {
    width: 102px;
    height: 154px;
  }
  .overlay-image {
    display: none;
  }
  .header-image {
    margin-top: 1rem;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .specials-list {
    grid-template-columns: 1fr;
  }
}
